
<div class="row">
    <div class="col-sm-12">
      <h2><span class="badge badge-default">{{vc?.description}}</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card" style="background-color:beige">
        <div class="card-header"></div>
        <div class="card-body">
         

<div class="row">

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-3">
        <h5><span class="badge badge-info">Id</span></h5>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="vc.No" name="test" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h5><span class="badge badge-info">Description</span></h5>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="vc.Description" name="test" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h5><span class="badge badge-info">UK-Code</span></h5>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="vc.uk_code" name="test4" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h5><span class="badge badge-info">US-Code</span></h5>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="vc.us_code" name="test41" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <h5><span class="badge badge-info">Model Code</span></h5>
      </div>
      <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="vc.Model_code" name="test55" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <h5><span class="badge badge-info">Type</span></h5>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="vc.Type" name="test5" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <h5><span class="badge badge-info">Sizes</span></h5>
      </div>
      <div class="col-sm-9">
        <table class="table table-striped">
          <tr>
            <th>Size</th>
            <th>EOA</th>
            <th><button class="btn btn-warning btn-sm" (click)="addSize()" *ngIf="!displayAdd()">Add size</button></th>
            <th><button class="btn btn-warning btn-sm" (click)="saveSize()" *ngIf="displayAdd()">Save</button></th>
          </tr>
          <tr *ngFor="let pro of valveSizes">
            <td>{{pro.Size}}</td>
            <td>{{pro.EOA}}</td>
            <td><button class="btn btn-warning btn-sm" (click)="deleteSize(pro.SizeId)">Delete</button></td>
            <td></td>
           </tr>
          <tr *ngIf="displayAdd()">
            <td><input [(ngModel)]="newsize" name="size" class="form-control"></td>
            <td><input [(ngModel)]="neweoa" name="eoa" class="form-control" type="number"></td>
            <td></td>
            <td></td>
          </tr>
        </table>






         </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <h5><span class="badge badge-info">Countries</span></h5>
      </div>
      <div class="col-sm-9">
         <input type="text" class="form-control" [(ngModel)]="vc.countries" name="test58" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <h5><span class="badge badge-info">Implant position</span></h5>
      </div>
      <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="vc.Implant_position" name="test158" />
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
          <img src={{vc?.image}}>
      </div>
      <div class="card-footer">
        <app-photo-editor [userId]="0" [valvecode]="vc.no" [hospitalId]="0" (getMemberPhotoChange)="updatePhoto($event)"></app-photo-editor>
     </div>
    </div>
    
    
   </div>
</div>

         
         
         
          <div class="row">
            <div class="btn-group">
              <button class="btn btn-primary" (click)="cancel()"><i class="fa fa-window-close" aria-hidden="true"></i> Cancel</button>
              <button class="btn btn-primary" (click)="deleteProduct()"><i class="fa fa-remove" aria-hidden="true"></i> Remove</button>
              <button class="btn btn-primary" (click)="updateProductDetails()"><i class="fa fa-update" aria-hidden="true"></i> Update</button>
            </div>
          </div>
         
        
  
        </div>
      </div>
    </div>
  </div>
  