<div class="card mt-2">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12 ml" *ngIf="!displayAddDetails()">
        <button class="badge badge-default float-right" type="button" (click)="addProduct()">Add a product to this list</button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="displayList()">
    <div class="row">
      <div class="col-sm-12">
        <h2><span class="badge badge-default">List of {{currentVendor}} products in {{currentCountry}}</span></h2>
      </div>
    </div>
    <!--here is the table-->
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Description</th>
         <th></th>
      </tr>
      <tr *ngFor="let p of prod">
        <th>{{p?.No}}</th>
        <th>{{p?.Description}}</th>
       <td><a (click)="showDetails(p.ValveTypeId)">Details</a></td>
      </tr>
    </table>
  </div>
  <div class="card-body" *ngIf="displayDetails()">
    <app-editProduct [vc]="selectedProduct" (povOut)="changeViewBackToList($event)"></app-editProduct>
  </div>
  <div class="card-body" *ngIf="displayAddDetails()">
    <app-addProduct [vc]="newProduct" (povOut)="changeViewBackToList($event)"></app-addProduct>
  </div>
</div>

