<div class="jumbotron">
  <h1>Valve inventory in the cloud</h1>
</div>

<div class="row">

  <div class="col-sm-6">
      <div style="background-image: url('https://res.cloudinary.com/marcelcloud/image/upload/v1620571880/valves/valves02.jpg');
                height: 200px;
                width: 400px;
                border: 1px solid black;
                background-repeat:no-repeat">
      </div>
    
  </div>
  <div class="col-sm-6"></div>

</div>


<hr />
<footer>
  <p>&copy; 2021 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)</p>
</footer>
   