<div class="row">
  <div class="col-sm-12">
    <h2><span class="badge badge-default">Edit details {{selectedHospital.HospitalName}}</span></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="background-color:beige">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 ml"><img width="150" height="150" [src]="selectedHospital.Contact_image"></div>
          <div class="col-sm-6 ml">
            <button class="badge badge-warning mr-2 float-right" type="button" (click)="deleteVendorInHospital(selectedHospital.HospitalNo)">
              Remove this hospital
            </button>
            <button class="badge badge-default mr-2 float-right" type="button" (click)="updateHospitalDetails()">
              Update hospital details
            </button>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3">
                <h5><span class="badge badge-info">Name</span></h5>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="selectedHospital.HospitalName" name="test" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h5><span class="badge badge-info">Adres</span></h5>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="selectedHospital.Address" name="test4" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
    
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6"><input type="text" class="form-control" [(ngModel)]="selectedHospital.postalCode"
                      name="test5" /></div>
                  <div class="col-sm-6">{{country}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h5><span class="badge badge-info">Telephone</span></h5>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="selectedHospital.Telephone" name="test45" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h5><span class="badge badge-info">Contact</span></h5>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-4"><input type="text" class="form-control" [ngModel]="selectedHospital.Contact"
                      name="test1" /></div>
                  <div class="col-sm-4"><input type="text" class="form-control" [(ngModel)]="selectedHospital.Email"
                      name="test2" readonly /></div>
                  <div class="col-sm-4">
                    <button class="btn btn-danger btn-sm " type="button" (click)="changeContact()">
                      Update contact
                    </button>
                  </div>
                </div>
    
              </div>
            </div> 
            <div class="row" *ngIf="changingContact()">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-8">
                    <table class="table table-striped">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                      </tr>
                      <tr *ngFor="let p of users">
                        <th>{{p.username}}</th>
                        <th>{{p.email}}</th>
                        <td><a (click)="selectContact(p.userId)">Select this one</a></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-4"><a (click)="selectDetails(p.HospitalNo)">Details</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <app-hospital-messages [recipientId]="contactNumber"></app-hospital-messages>
              </div>
             </div>
          </div>
        </div>
        
        

        

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary ml-2 mt-2" (click)="goBack()">Back</button>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>