<form #hospitalEditForm="ngForm" id="editHospitalForm">
  <div class="card">
    <div class="card-header">
      <h4><span>{{title}}</span></h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Name</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.HospitalName" name="name" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Address</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.Address" name="adres" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">PostalCode</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.PostalCode" name="pc" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">HospitalCode</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.HospitalNo" name="code" class="form-control"
                readonly></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Country</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.Country" name="country" class="form-control"
                readonly></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Email</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.Email" name="email" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Contact person</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.Contact" name="contactP" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">Telephone</span></h5>
            </div>
            <div class="col-sm-6"><input [(ngModel)]="new_hospital.Telephone" name="tel" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h5><span class="badge badge-secondary">OVI</span></h5>
            </div>
            <div class="col-sm-6">
              <select [(ngModel)]="new_hospital.UsesOnlineValveInventory" name=" test" class="form-control">
                <option *ngFor="let item of YN" [value]="item.value">{{item.description}}</option>
              </select>
            </div>
          </div>





        </div>
        <div class="col-sm-4">
          <img src="{{new_hospital.ImageUrl}}" alt="the image" height="450px" width="500px" />
        </div>
      </div>















    </div>

  </div>


</form>