<div class="card" *ngIf="!OVIPlace()">
  <div class="card-header">
    <div class="d-flex flex-row">
      <div class="p-2">{{Title}}</div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12"><h5><span class="badge badge-secondary">Choose vendor</span></h5></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><select [(ngModel)]="selectedVendor" name="ve" class="form-control">
            <option *ngFor="let an of optionsVendor" [value]=an.value>{{ an.description }}</option>
          </select></div>
          <div class="col-sm-6"><button class="btn btn-warning btn-sm" (click)="Search()">Search</button></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><h5><span class="badge badge-secondary">Choose implant position</span></h5></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><input type=text [(ngModel)]="selectedPos" class="form-control" readonly></div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><h5><span class="badge badge-secondary">Choose type</span></h5></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><select [(ngModel)]="selectedType" name="ty" class="form-control">
            <option *ngFor="let an of optionsType" [value]=an.description>{{ an.description }}</option>
          </select></div>
          <div class="col-sm-6"><button class="btn btn-warning btn-sm" (click)="Search()">Search</button></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" *ngIf="!showProductDetails()">
          <div class="card-header">Selected Valve(s)</div>
          <div class="card-body">
            <table class="table table-striped">
              <tr>
                  <th><h6><span class="badge badge-default">Description</span></h6></th>
                  <th><h6><span class="badge badge-default">Implant position</span></h6></th>
                  <th></th>
                </tr>
              <tr *ngFor="let pro of products">
                  <th><h6><span class="badge badge-secondary">{{pro.description}}</span></h6></th>
                  <th><h6>{{pro.implant_position}}</h6></th>
                  <th><button class="btn btn-info btn-sm" (click)="SearchDetails(pro.valveTypeId)">Details</button></th>
              </tr>
          </table>
          </div>
        </div>
        <div *ngIf="showProductDetails()">

          <div class="card" *ngIf="noBSA()">
            <div class="card-header"><h4><span class="badge badge-default">To calculate the indexed eoa, the height and weight of the patient is needed </span></h4></div>
            <div class="card-body">
              <div class="row">
              <div class="col-sm-12 mb-1">
                <div class="row">
                  <div class="col-sm-6">
                    <h5><span class="badge badge-default">Weight (kg)</span></h5>
                  </div>
                  <div class="col-sm-6"><select [(ngModel)]="selectedWeight" name="w2" class="form-control">
                      <option *ngFor="let an of weightOptions" [value]=an.value>{{ an.description }}</option>
                    </select></div>
                </div>
              </div>
              <div class="col-sm-12 mb-1" >
                <div class="row">
                  <div class="col-sm-6">
                    <h5><span class="badge badge-default">Height (cm)</span></h5>
                  </div>
                  <div class="col-sm-6"><select [(ngModel)]="selectedHeight" name="h2" class="form-control">
                      <option *ngFor="let an of heightOptions" [value]=an.value>{{ an.description }}</option>
                    </select></div>
                </div>
              </div>
            </div>
            </div>
            <div class="card-footer"><button class="btn btn-info btn-sm" (click)=SearchDetails(pro.valveTypeId)>Done</button></div>
          </div>



          <div class="card" *ngIf="!noBSA()">
          <div class="card-header">Valve Type Details</div>
          <div class="card-body">

          

            "valveTypeId": 8,
            "no": 21,
            "vendor_description": "LivaNova",
            "vendor_code": "3",
            "valve_size": null,
            "model_code": "5687",
            "implant_position": "Aortic",
            "uk_code": "CARA",
            "us_code": null,
            "image": "https://res.cloudinary.com/marcelcloud/image/upload/v1621431016/valves/carbomedics.jpg",
            "description": "Carbomedics standard aortic valve",
            "type": "Mechanical",
            "countries": "NL,SA,US"



<table>
  <tr>
             <th>size</th>
             <th></th>
            </tr>


            <tr *ngFor="let pro of sizes">
             
              <th><h6>{{pro.size}}</h6></th>
             
              <td *ngIf="severePPMCCS(pro.ppm)"><a (click)="selectDetails(pro.valveId)">
                  <span class="badge badge-danger">{{pro.ppm}}</span></a></td> 
              <td *ngIf="nonePPMCCS(pro.ppm)"><a (click)="selectDetails(pro.valveId)">
                  <span class="badge badge-success">{{pro.ppm}}</span></a></td> 
              <td *ngIf="moderatePPMCCS(pro.ppm)"><a (click)="selectDetails(pro.valveId)">
                  <span class="badge badge-warning">{{pro.ppm}}</span></a></td> 

          
          </tr>
        </table>         




          </div>
          <div class="card-footer"><button class="btn btn-info btn-sm" (click)="hideHeightWeight()">Done</button></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card" *ngIf="OVIPlace()">
  <div class="card-header" style="background-color: silver;">
    <div class="d-flex flex-row">
      <div class="p-2">{{Title}}</div>

    </div>
  </div>
  <div class="card-body" style="background-color: beige;">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h5><span class="badge badge-secondary">Patient data</span></h5>
          </div>
          <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6">
                <h5><span class="badge badge-default">Implant position</span></h5>
              </div>
              <div class="col-sm-6"><select [(ngModel)]="selectedPosition" (change)="onPositionChange()" name="pos"
                  class="form-control">
                  <option *ngFor="let an of optionsPositions" [value]=an.value>{{ an.description }}</option>
                </select></div>
            </div>
          </div>
          <!-- <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6">
                <h5><span class="badge badge-default">Gender</span></h5>
              </div>
              <div class="col-sm-6"><select [(ngModel)]="selectedGender" name="gender" class="form-control">
                  <option *ngFor="let an of genderOptions" [value]=an.value>{{ an.description }}</option>
                </select></div>
            </div>
          </div> -->

          <div class="col-sm-12 mb-1" *ngIf="showAoValves()">
            <div class="row">
              <div class="col-sm-6">
                <h5><span class="badge badge-default">Weight (kg)</span></h5>
              </div>
              <div class="col-sm-6"><select [(ngModel)]="selectedWeight" name="w" class="form-control">
                  <option *ngFor="let an of weightOptions" [value]=an.value>{{ an.description }}</option>
                </select></div>
            </div>
          </div>
          <div class="col-sm-12 mb-1" *ngIf="showAoValves()">
            <div class="row">
              <div class="col-sm-6">
                <h5><span class="badge badge-default">Height (cm)</span></h5>
              </div>
              <div class="col-sm-6"><select [(ngModel)]="selectedHeight" name="h" class="form-control">
                  <option *ngFor="let an of heightOptions" [value]=an.value>{{ an.description }}</option>
                </select></div>
            </div>
          </div>
          <!-- <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6"><h5><span class="badge badge-default">Age (yrs)</span></h5></div>
              <div class="col-sm-6"><select [(ngModel)]="selectedAge" name="age" class="form-control">
                <option *ngFor="let an of ageOptions" [value]=an.value>{{ an.description }}</option>
              </select></div>
            </div>
          </div> -->
          <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6">
                <h5><span class="badge badge-default">Size</span></h5>
              </div>
              <div class="col-sm-6"><select [(ngModel)]="selectedSize" name="sos" class="form-control">
                  <option *ngFor="let an of sizesOptions" [value]=an.value>{{ an.description }}</option>
                </select></div>
            </div>
          </div>

          <!-- <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="lifeStyle"
                    name="ls">
                  <label class="custom-control-label" for="customSwitch1">
                    <h6><span class="badge badge-secondary">Active lifestyle</span></h6>
                  </label>
                </div>

              </div>
            </div>
          </div> -->
          <div class="col-sm-12 mb-1">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch2" [(ngModel)]="preference"
                    name="ps">
                  <label class="custom-control-label" for="customSwitch2">
                    <h6><span class="badge badge-secondary">Tissue valve only</span></h6>
                  </label>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-12 mb-1">
            <button (click)="findPossibleValves()" class="form-control">Search valves</button>
          </div>
        </div>

      </div>

      <div class="col-sm-8">
        <div class="col-sm-12" *ngIf="showPlaatje()">
          <img [src]="ImagePath">
        </div>
        <div class="col-sm-12" *ngIf="showAoValves()">
          <app-suitableAOValves [valves]="aorticvalves" [bsa]="bsa" [title]="AproductRequested"></app-suitableAOValves>
        </div>
        <div class="col-sm-12" *ngIf="showMValves()">
          <app-suitableMValves [valves]="mitralvalves" [title]="MproductRequested"></app-suitableMValves>
        </div>
      </div>
    </div>
  </div>
</div>