<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <p>This online inventory has one purpose. It's purpose is to inform the cardiac surgeon which prosthetic </p>
    <p>valves, annuloplasty rings and conduits are available for implant in the hospital. </p>
    <p>The <a href="http://csd-website.azurewebsites.net/OnlineValveInventory.html">tutorial section</a> elaborates on how this application realizes this purpose.</p>

    <hr />

    <p><strong>Version history:</strong></p>
    <p>Versie 5.408 (25-juni-2017)</p>
    <p>Versie 5.5 (11-september-2017)</p>
    <p>Versie 5.6 (27-september-2017)</p>
    <p>Versie 5.7 (04-oktober-2017)</p>
    <p>Versie 5.8 (18-november-2017)</p>
    <p>Versie 6.0 (28-juni-2018) Switched to MongoDB</p>
    <p>Versie 6.1 (08-august-2018)</p>
    <p>Versie 6.2 (03-october-2018) Custom mapping</p>
    <p>Versie 6.3 (05-febr-2019) Bug fixes </p>
    <p>Versie 6.4 (07-nov-2019) Re write to use .NET and Angular 8 and SQL database </p>
    <p>Versie 6.5 (21-march-2020) Finishing ivm corona virus, hosting on home computer </p>
    <p>Versie 6.6 (26-march-2020) Rewritten in .NET core and angular 9 with Visual Studio Code </p>
    <p>Versie 6.7 (5-april-2020) Feature added: Now there is a private chat system, used to re-order products</p>
    <p>Versie 6.8 (5-may-2020) Feature added: Now there is a list of transfer for every valve, in preparation for blockchain</p>
    <p>Versie 6.9 (7-july-2020) Some updates in user profile page</p>
    <p>Versie 6.9.5 (1-aug-2020) Some updates in valve transfer history</p>
    <p>Versie 7.0.0 (13-jan-2021) Dockerized</p>
    <p>Versie 7.1.0 (4-june-2021) PPM feature added</p>
    <p>Versie 7.1.1 (12-july-2021) Admin manages vendors</p>
    <p>Versie 7.2.1 (12-oktober-2022) Admin manages hospitals</p>
    <p>Versie 7.3.1 (8-december-2022) Sizes for patches added</p>
    <p>Versie 7.3.2 (13-januari-2023) mark valve by serial</p>
    <p>Versie 7.3.3 (18-januari-2023) some bugs erased</p>
    <p>Versie 7.3.4 (25-januari-2023) tricuspid rings added</p>
    <p>Versie 8.0.1 (7-december-2023) upgraded to .NET 5.0, hospital settings extended with vendors and contact</p>
    <p>Versie 8.1.0 (19-march-2024) pre-production checks</p>


  </div>
</div>
