<div class="card">
  
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><h6><span>Current contact</span></h6></div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-secondary">{{current_contact_username}}</span></h5></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <img src={{current_contact_image}} width="200px" height="200px">
              </div>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><h6><span>Available contacts for this hospital</span></h6></div>
          <div class="card-body">
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <tr *ngFor="let p of availableUsers">
                <th>{{p.username}}</th>
                <td><button class="btn btn-sm btn-success" (click)="makeCurrentContact(p)">make current contact</button></td>
              </tr>
            </table>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="btn-group">
                <button class="btn btn-primary" (click)="Cancel()"><i class="fa fa-window-close" aria-hidden="true"></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
